# Copyright (c) 2017-2018 LG Electronics, Inc.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
# SPDX-License-Identifier: Apache-2.0

[Unit]
Description=webos - "%n"
Requires=ls-hubd.service
After=ls-hubd.service

[Service]
Type=simple
OOMScoreAdjust=-500
EnvironmentFile=-/var/systemd/system/env/node-fork-server.env
Environment=NODE_VAR=/var/run/node
Environment=NODE_PATH=/usr/palm/frameworks:/usr/lib/nodejs:/usr/lib/node_modules:/usr/palm/nodejs:/usr/palm/services/jsservicelauncher
Environment=NODE_FORK_SERVER_HOST=/var/run/node_fork_server.socket
ExecStartPre=/bin/mkdir -p ${NODE_VAR}
ExecStartPre=/bin/touch ${NODE_VAR}/fork
ExecStart=/usr/bin/node --expose_gc --harmony --max_old_space_size=22 --noconcurrent_recompilation --noconcurrent_sweeping /usr/palm/nodejs/fork_server.js
Restart=on-failure
